Project2/Debug/vc141.pdb
Project2/Debug/Project2.tlog/CL.read.1.tlog
Project2/Debug/Project2.tlog/CL.command.1.tlog
Project2.sln
Debug/Project2.ilk
.vs/Project2/v15/Browse.VC.db
.vs/Project2/v15/.suo
Project2/Debug/Project2.tlog/link.read.1.tlog
Project2/Debug/Project2.tlog/link.command.1.tlog
Project2/Debug/Project2.log
.vs/Project2/v15/ipch/AutoPCH/5acc23121324e6b9/POLYNOMIALADDITION.ipch
.vs/Project2/v15/Browse.VC.opendb
Project2/Project2.vcxproj.user
Project2/Debug/Project2.tlog/Project2.lastbuildstate
Project2/Debug/Project2.tlog/CL.write.1.tlog
Debug/Project2.pdb
Project2/Project2.vcxproj.filters
Project2/Project2.vcxproj
Project2/Debug/vc141.idb
Project2/Debug/PolynomialAddition.obj
Project2/Debug/Project2.tlog/link.write.1.tlog
Debug/Project2.exe
